<!-- product html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <form action="/products" method="post">
        ItemName : <input type="text" name="itemName"> <br>
        Price : <input type="text" name="price">
        
        <input type="submit" value="Save">
    </form>

</body>
</html>